In [1]:

import json
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:

yelp_academic_dataset_business=pd.read_json('yelp_academic_dataset_business.json',lines=True)

print(yelp_academic_dataset_business.shape)

(209393, 14)

In [8]:
yelp_academic_dataset_business[yelp_academic_dataset_business['business_id']=='m9asd2P7kgub8eYYVbyLXg']

Empty DataFrame
Columns: [business_id, name, address, city, state, postal_code, latitude, longitude, stars, review_count, is_open, attributes, categories, hours]
Index: []

In [16]:
yelp_academic_dataset_business= yelp_academic_dataset_business[yelp_academic_dataset_business.is_open == 1]
yelp_academic_dataset_business = yelp_academic_dataset_business[yelp_academic_dataset_business['hours'].notnull()]
yelp_academic_dataset_business = yelp_academic_dataset_business[yelp_academic_dataset_business['attributes'].notnull()]
print(yelp_academic_dataset_business.shape)
yelp_academic_dataset_business.head()

(121600, 14)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,1,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...","{'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'..."
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726648,4.5,26,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Plumbing, Electricians, Handyma...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '..."
5,cKyLV5oWZJ2NudWgqs8VZw,Oasis Auto Center - Gilbert,"1720 W Elliot Rd, Ste 105",Gilbert,AZ,85233,33.350399,-111.827142,4.5,38,1,{'BusinessAcceptsCreditCards': 'True'},"Auto Repair, Automotive, Oil Change Stations, ...","{'Monday': '7:0-18:0', 'Tuesday': '7:0-18:0', ..."
6,oiAlXZPIFm2nBCt0DHLu_Q,Green World Cleaners,"6870 S Rainbow Blvd, Ste 117",Las Vegas,NV,89118,36.063977,-115.241463,3.5,81,1,"{'BusinessParking': '{'garage': False, 'street...","Dry Cleaning & Laundry, Local Services, Laundr...","{'Monday': '7:0-19:0', 'Tuesday': '7:0-19:0', ..."
7,ScYkbYNkDgCneBrD9vqhCQ,Junction Tire & Auto Service,6910 E Southern Ave,Mesa,AZ,85209,33.393885,-111.682226,5.0,18,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Auto Repair, Oil Change Stations, Automotive, ...","{'Monday': '7:30-17:0', 'Tuesday': '7:30-17:0'..."

In [17]:
yelp_academic_dataset_business_cat_list=["Acai Bowls","acaibowls",
"Bagels","bagels",
"Bakeries","bakeries",
"Beer, Wine & Spirits","beer_and_wine",
"Beverage Store","beverage_stores",
"Breweries","breweries",
"Brewpubs","brewpubs",
"Bubble Tea","bubbletea",
"Butcher","butcher",
"CSA","csa",
"Chimney Cakes","chimneycakes",
"Cideries","cideries",
"Coffee & Tea","coffee",
"Coffee Roasteries","coffeeroasteries",
"Convenience Stores","convenience",
"Cupcakes","cupcakes",
"Custom Cakes","customcakes",
"Desserts","desserts",
"Distilleries","distilleries",
"Do-It-Yourself Food","diyfood",
"Donuts","donuts",
"Empanadas","empanadas",
"Farmers Market","farmersmarket",
"Food Delivery Services","fooddeliveryservices",
"Food Trucks","foodtrucks",
"Gelato","gelato",
"Grocery","grocery",
"Honey","honey",
"Ice Cream & Frozen Yogurt","icecream",
"Imported Food","importedfood",
"International Grocery","intlgrocery",
"Internet Cafes","internetcafe",
"Juice Bars & Smoothies","juicebars",
"Kombucha","kombucha",
"Meaderies","meaderies",
"Organic Stores","organic_stores",
"Patisserie/Cake Shop","cakeshop",
"Piadina","piadina",
"Poke","poke",
"Pretzels","pretzels",
"Shaved Ice","shavedice",
"Shaved Snow","shavedsnow",
"Smokehouse","smokehouse",
"Specialty Food","gourmet",
"Candy Stores","candy",
"Cheese Shops","cheese",
"Chocolatiers & Shops","chocolate",
"Fruits & Veggies","markets",
"Health Markets","healthmarkets",
"Herbs & Spices","herbsandspices",
"Macarons","macarons",
"Meat Shops","meats",
"Olive Oil","oliveoil",
"Pasta Shops","pastashops",
"Popcorn Shops","popcorn",
"Seafood Markets","seafoodmarkets",
"Street Vendors","streetvendors",
"Tea Rooms","tea",
"Water Stores","waterstores",
"Wineries","wineries",
"Wine Tasting Room","winetastingroom",
"Afghan","afghani",
"African","african",
"Senegalese","senegalese",
"South African","southafrican",
"American","New","newamerican",
"American","Traditional","tradamerican",
"Arabian","arabian",
"Argentine","argentine",
"Armenian","armenian",
"Asian Fusion","asianfusion",
"Australian","australian",
"Austrian","austrian",
"Bangladeshi","bangladeshi",
"Barbeque","bbq",
"Basque","basque",
"Belgian","belgian",
"Brasseries","brasseries",
"Brazilian","brazilian",
"Breakfast & Brunch","breakfast_brunch",
"Pancakes","pancakes",
"British","british",
"Buffets","buffets",
"Bulgarian","bulgarian",
"Burgers","burgers",
"Burmese","burmese",
"Cafes","cafes",
"Themed Cafes","themedcafes",
"Cafeteria","cafeteria",
"Cajun/Creole","cajun",
"Cambodian","cambodian",
"Caribbean","caribbean",
"Dominican","dominican",
"Haitian","haitian",
"Puerto Rican","puertorican",
"Trinidadian","trinidadian",
"Catalan","catalan",
"Cheesesteaks","cheesesteaks",
"Chicken Shop","chickenshop",
"Chicken Wings","chicken_wings",
"Chinese","chinese",
"Cantonese","cantonese",
"Dim Sum","dimsum",
"Hainan","hainan",
"Shanghainese","shanghainese",
"Szechuan","szechuan",
"Comfort Food","comfortfood",
"Creperies","creperies",
"Cuban","cuban",
"Czech","czech",
"Delis","delis",
"Diners","diners",
"Dinner Theater","dinnertheater",
"Eritrean","eritrean",
"Ethiopian","ethiopian",
"Fast Food","hotdogs",
"Filipino","filipino",
"Fish & Chips","fishnchips",
"Fondue","fondue",
"Food Court","food_court",
"Food Stands","foodstands",
"French","french",
"Mauritius","mauritius",
"Reunion","reunion",
"Game Meat","gamemeat",
"Gastropubs","gastropubs",
"Georgian","georgian",
"German","german",
"Gluten-Free","gluten_free",
"Greek","greek",
"Guamanian","guamanian",
"Halal","halal",
"Hawaiian","hawaiian",
"Himalayan/Nepalese","himalayan",
"Honduran","honduran",
"Hong Kong Style Cafe","hkcafe",
"Hot Dogs","hotdog",
"Hot Pot","hotpot",
"Hungarian","hungarian",
"Iberian","iberian",
"Indian","indpak",
"Indonesian","indonesian",
"Irish","irish",
"Italian","italian",
"Calabrian","calabrian",
"Sardinian","sardinian",
"Sicilian","sicilian",
"Tuscan","tuscan",
"Japanese","japanese",
"Conveyor Belt Sushi","conveyorsushi",
"Izakaya","izakaya",
"Japanese Curry","japacurry",
"Ramen","ramen",
"Teppanyaki","teppanyaki",
"Kebab","kebab",
"Korean","korean",
"Kosher","kosher",
"Laotian","laotian",
"Latin American","latin",
"Colombian","colombian",
"Salvadoran","salvadoran",
"Venezuelan","venezuelan",
"Live/Raw Food","raw_food",
"Malaysian","malaysian",
"Mediterranean","mediterranean",
"Falafel","falafel",
"Mexican","mexican",
"Tacos","tacos",
"Middle Eastern","mideastern",
"Egyptian","egyptian",
"Lebanese","lebanese",
"Modern European","modern_european",
"Mongolian","mongolian",
"Moroccan","moroccan",
"New Mexican Cuisine","newmexican",
"Nicaraguan","nicaraguan",
"Noodles","noodles",
"Pakistani","pakistani",
"Pan Asian","panasian",
"Persian/Iranian","persian",
"Peruvian","peruvian",
"Pizza","pizza",
"Polish","polish",
"Polynesian","polynesian",
"Pop-Up Restaurants","popuprestaurants",
"Portuguese","portuguese",
"Poutineries","poutineries",
"Russian","russian",
"Salad","salad",
"Sandwiches","sandwiches",
"Scandinavian","scandinavian",
"Scottish","scottish",
"Seafood","seafood",
"Singaporean","singaporean",
"Slovakian","slovakian",
"Somali","somali",
"Soul Food","soulfood",
"Soup","soup",
"Southern","southern",
"Spanish","spanish",
"Sri Lankan","srilankan",
"Steakhouses","steak",
"Supper Clubs","supperclubs",
"Sushi Bars","sushi",
"Syrian","syrian",
"Taiwanese","taiwanese",
"Tapas Bars","tapas",
"Tapas/Small Plates","tapasmallplates",
"Tex-Mex","tex-mex",
"Thai","thai",
"Turkish","turkish",
"Ukrainian","ukrainian",
"Uzbek","uzbek",
"Vegan","vegan",
"Vegetarian","vegetarian",
"Vietnamese","vietnamese",
"Waffles","waffles",
"Wraps","wraps",
"Airport Lounges","airportlounges",
"Beer Bar","beerbar",
"Champagne Bars","champagne_bars",
"Cigar Bars","cigarbars",
"Cocktail Bars","cocktailbars",
"Dive Bars","divebars",
"Drive-Thru Bars","drivethrubars",
"Gay Bars","gaybars",
"Hookah Bars","hookah_bars",
"Irish Pub","irish_pubs",
"Lounges","lounges",
"Pubs","pubs",
"Speakeasies","speakeasies",
"Sports Bars","sportsbars",
"Tiki Bars","tikibars",
"Vermouth Bars","vermouthbars",
"Whiskey Bars","whiskeybars",
"Wine Bars","wine_bars",
"Beer Gardens","beergardens",
"Club Crawl","clubcrawl",
"Comedy Clubs","comedyclubs",
"Country Dance Halls","countrydancehalls",
"Dance Clubs","danceclubs",
"Jazz & Blues","jazzandblues",
"Karaoke","karaoke",
"Music Venues","musicvenues",
"Piano Bars","pianobars",
"Pool Halls","poolhalls"
]

In [20]:
li_i=set()

In [22]:
for i,val in yelp_academic_dataset_business["categories"].iteritems():
    if i%10000==0:
         print(i)    
    for sub in yelp_academic_dataset_business_cat_list:
            if sub in val:
                li_i.add(i)
                break
            
    
     
print(len(li_i))

0
10000
20000
30000
40000
60000
70000
80000
110000
130000
140000
170000
180000
190000
200000
48685

In [23]:
yelp_academic_dataset_business=yelp_academic_dataset_business[yelp_academic_dataset_business.index.isin(list(li_i))]
yelp_academic_dataset_business['categories']

8         Ethnic Food, Food Trucks, Specialty Food, Impo...
12                Desserts, Food, Ice Cream & Frozen Yogurt
23        Hotels & Travel, Transportation, Taxis, Beer, ...
24                   Restaurants, Cheesesteaks, Poutineries
30        Persian/Iranian, Turkish, Middle Eastern, Rest...
                                ...
209362    Shopping, Party & Event Planning, Caterers, To...
209374                                   Coffee & Tea, Food
209376                                 Chinese, Restaurants
209385    Restaurants, Pizza, Sandwiches, Fast Food, Chi...
209390    American (New), Food, Burgers, Restaurants, Fa...
Name: categories, Length: 48685, dtype: object

In [24]:
yelp_academic_dataset_business.shape

(48685, 14)

In [26]:
yelp_academic_dataset_business.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours'],
      dtype='object')

In [25]:

# yelp_academic_dataset_business = yelp_academic_dataset_business[yelp_academic_dataset_business['hours'].notnull()]

for col in yelp_academic_dataset_business.columns:
    print(col,yelp_academic_dataset_business[col].isnull().sum())
print(yelp_academic_dataset_business.shape)

business_id 0
name 0
address 0
city 0
state 0
postal_code 0
latitude 0
longitude 0
stars 0
review_count 0
is_open 0
attributes 0
categories 0
hours 0
(48685, 14)

In [30]:
yelp_academic_dataset_business["Monday"]=""
yelp_academic_dataset_business["Tuesday"]=""
yelp_academic_dataset_business["Wednesday"]=""
yelp_academic_dataset_business["Thursday"]=""
yelp_academic_dataset_business["Friday"]=""
yelp_academic_dataset_business["Saturday"]=""
yelp_academic_dataset_business["Sunday"]=""

In [32]:
for i,val in yelp_academic_dataset_business['hours'].iteritems():
        if i%1000==0:
            print(i)
        
        if ("Monday" in val.keys()):
            yelp_academic_dataset_business["Monday"][i]=val["Monday"]
        if ("Tuesday" in val.keys()):
            yelp_academic_dataset_business["Tuesday"][i]=val["Tuesday"]
        if ("Wednesday" in val.keys()):
            yelp_academic_dataset_business["Wednesday"][i]=val["Wednesday"]
        if ("Thursday" in val.keys()):
            yelp_academic_dataset_business["Thursday"][i]=val["Thursday"]
        if ("Friday" in val.keys()):
            yelp_academic_dataset_business["Friday"][i]=val["Friday"]
        if ("Saturday" in val.keys()):
            yelp_academic_dataset_business["Saturday"][i]=val["Saturday"]
        if ("Sunday" in val.keys()):
            yelp_academic_dataset_business["Sunday"][i]=val["Sunday"]

<ipython-input-32-20d16c0b5297>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Monday"][i]=val["Monday"]
<ipython-input-32-20d16c0b5297>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Tuesday"][i]=val["Tuesday"]
<ipython-input-32-20d16c0b5297>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Wednesday"][i]=val["Wednesday"]
<ipython-input-32-20d16c0b5297>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Thursday"][i]=val["Thursday"]
<ipython-input-32-20d16c0b5297>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Friday"][i]=val["Friday"]
<ipython-input-32-20d16c0b5297>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Saturday"][i]=val["Saturday"]
<ipython-input-32-20d16c0b5297>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Sunday"][i]=val["Sunday"]

8000
16000
17000
19000
20000
38000
44000
48000
49000
51000
59000
62000
64000
71000
74000
78000
79000
91000
93000
98000
104000
108000
111000
113000
122000
123000
129000
130000
134000
135000
138000
144000
145000
153000
156000
159000
170000
174000
176000
179000
182000
184000
187000
188000
197000
200000

In [36]:
yelp_academic_dataset_business=yelp_academic_dataset_business.reset_index(drop=True)
yelp_academic_dataset_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,attributes,categories,hours,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,pQeaRpvuhoEqudo3uymHIQ,The Empanadas House,404 E Green St,Champaign,IL,61820,40.110446,-88.233073,4.5,5,...,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...","Ethnic Food, Food Trucks, Specialty Food, Impo...","{'Monday': '11:30-14:30', 'Tuesday': '11:30-14...",11:30-14:30,11:30-14:30,11:30-14:30,11:30-14:30,11:30-14:30,,
1,M_guz7Dj7hX0evS672wIwA,Chocolate Shoppe Ice Cream,2831 Parmenter St,Middleton,WI,53562,43.105310,-89.510142,3.5,6,...,"{'BikeParking': 'True', 'Caters': 'True', 'Whe...","Desserts, Food, Ice Cream & Frozen Yogurt","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ...",0:0-0:0,11:0-21:0,11:0-21:0,11:0-21:0,11:0-22:0,11:0-22:0,11:0-21:0
2,mKTq1T_IAplDpHUcMzOXkw,Tipsy Ryde,,Gastonia,NC,28054,35.252842,-81.152698,3.5,3,...,{'BusinessAcceptsCreditCards': 'True'},"Hotels & Travel, Transportation, Taxis, Beer, ...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-0:0', 'W...",0:0-0:0,9:0-0:0,9:0-0:0,9:0-0:0,9:0-2:30,9:0-2:30,12:0-0:0
3,eBEfgOPG7pvFhb2wcG9I7w,Philthy Phillys,"15480 Bayview Avenue, unit D0110",Aurora,ON,L4G 7J1,44.010962,-79.448677,4.5,4,...,"{'RestaurantsTableService': 'False', 'Restaura...","Restaurants, Cheesesteaks, Poutineries","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",11:0-22:0,11:0-22:0,11:0-22:0,11:0-22:0,11:0-22:0,11:0-22:0,11:0-21:0
4,9sRGfSVEfLhN_km60YruTA,Apadana Restaurant,13071 Yonge Street,Richmond Hill,ON,L4E 1A5,43.947011,-79.454862,3.0,3,...,"{'Ambience': '{'touristy': False, 'hipster': F...","Persian/Iranian, Turkish, Middle Eastern, Rest...","{'Tuesday': '12:0-21:0', 'Wednesday': '12:0-21...",,12:0-21:0,12:0-21:0,12:0-21:0,12:0-0:0,12:0-0:0,11:0-21:0

In [45]:


yelp_academic_dataset_business["Monday"]=yelp_academic_dataset_business["Monday"].str.replace('0:0-0:0',"")
yelp_academic_dataset_business["Tuesday"]=yelp_academic_dataset_business["Tuesday"].str.replace('0:0-0:0',"")
yelp_academic_dataset_business["Wednesday"]=yelp_academic_dataset_business["Wednesday"].str.replace('0:0-0:0',"")
yelp_academic_dataset_business["Thursday"]=yelp_academic_dataset_business["Thursday"].str.replace('0:0-0:0',"")
yelp_academic_dataset_business["Friday"]=yelp_academic_dataset_business["Friday"].str.replace('0:0-0:0',"")
yelp_academic_dataset_business["Saturday"]=yelp_academic_dataset_business["Saturday"].str.replace('0:0-0:0',"")
yelp_academic_dataset_business["Sunday"]=yelp_academic_dataset_business["Sunday"].str.replace('0:0-0:0',"")
yelp_academic_dataset_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,Friday_start,Saturday_start,Sunday_start,Monday_end,Tuesday_end,Wednesday_end,Thursday_end,Friday_end,Saturday_end,Sunday_end
0,pQeaRpvuhoEqudo3uymHIQ,The Empanadas House,404 E Green St,Champaign,IL,61820,40.110446,-88.233073,4.5,5,...,,,,14:30,,,,,,
1,M_guz7Dj7hX0evS672wIwA,Chocolate Shoppe Ice Cream,2831 Parmenter St,Middleton,WI,53562,43.105310,-89.510142,3.5,6,...,,,,,,,,,,
2,mKTq1T_IAplDpHUcMzOXkw,Tipsy Ryde,,Gastonia,NC,28054,35.252842,-81.152698,3.5,3,...,,,,,,,,,,
3,eBEfgOPG7pvFhb2wcG9I7w,Philthy Phillys,"15480 Bayview Avenue, unit D0110",Aurora,ON,L4G 7J1,44.010962,-79.448677,4.5,4,...,,,,22:0,,,,,,
4,9sRGfSVEfLhN_km60YruTA,Apadana Restaurant,13071 Yonge Street,Richmond Hill,ON,L4E 1A5,43.947011,-79.454862,3.0,3,...,,,,,,,,,,

In [59]:
yelp_academic_dataset_business["Monday_start"]=""
yelp_academic_dataset_business["Tuesday_start"]=""
yelp_academic_dataset_business["Wednesday_start"]=""
yelp_academic_dataset_business["Thursday_start"]=""
yelp_academic_dataset_business["Friday_start"]=""
yelp_academic_dataset_business["Saturday_start"]=""
yelp_academic_dataset_business["Sunday_start"]=""

yelp_academic_dataset_business["Monday_end"]=""
yelp_academic_dataset_business["Tuesday_end"]=""
yelp_academic_dataset_business["Wednesday_end"]=""
yelp_academic_dataset_business["Thursday_end"]=""
yelp_academic_dataset_business["Friday_end"]=""
yelp_academic_dataset_business["Saturday_end"]=""
yelp_academic_dataset_business["Sunday_end"]=""

In [60]:
for i,val in yelp_academic_dataset_business['Monday'].iteritems():
        if i%10000==0:
            print(i)
        if val !="":
            ss=val.split("-")
            if len(ss)==2:
                yelp_academic_dataset_business["Monday_start"][i]=ss[0]
                yelp_academic_dataset_business["Monday_end"][i]=ss[1]
            else:
                yelp_academic_dataset_business["Monday_start"][i]=ss[0]
                yelp_academic_dataset_business["Monday_end"][i]="22"               

print("+++++++++++++++++++++++TUESDAY+++++++++++++++++++++++++++++++++")
for i,val in yelp_academic_dataset_business['Tuesday'].iteritems():
        if i%10000==0:
            print(i)
        if val !="":
            ss=val.split("-")
            if len(ss)==2:
                yelp_academic_dataset_business["Tuesday_start"][i]=ss[0]
                yelp_academic_dataset_business["Tuesday_end"][i]=ss[1]
            else:
                yelp_academic_dataset_business["Tuesday_start"][i]=ss[0]
                yelp_academic_dataset_business["Tuesday_end"][i]="22"  
        
print("+++++++++++++++++++++++++WEDNESDAY+++++++++++++++++++++++++++++++++++++++")
for i,val in yelp_academic_dataset_business['Wednesday'].iteritems():
        if i%10000==0:
            print(i)
        if val !="":
            ss=val.split("-")
            if len(ss)==2:
                yelp_academic_dataset_business["Wednesday_start"][i]=ss[0]
                yelp_academic_dataset_business["Wednesday_end"][i]=ss[1]
            else:
                yelp_academic_dataset_business["Wednesday_start"][i]=ss[0]
                yelp_academic_dataset_business["Wednesday_end"][i]="22"  

print("+++++++++++++++++++++++++++THURSDAY+++++++++++++++++++++++++++++++++++++")
for i,val in yelp_academic_dataset_business['Thursday'].iteritems():
        if i%10000==0:
            print(i)
        if val !="":
            ss=val.split("-")
            if len(ss)==2:
                yelp_academic_dataset_business["Thursday_start"][i]=ss[0]
                yelp_academic_dataset_business["Thursday_end"][i]=ss[1]
            else:
                yelp_academic_dataset_business["Thursday_start"][i]=ss[0]
                yelp_academic_dataset_business["Thursday_end"][i]="22"  
print("++++++++++++++++++++++++++++FRIDAY+++++++++++++++++++++++++++++++++++")
for i,val in yelp_academic_dataset_business['Friday'].iteritems():
        if i%10000==0:
            print(i)
        if val !="":
            ss=val.split("-")
            if len(ss)==2:
                yelp_academic_dataset_business["Friday_start"][i]=ss[0]
                yelp_academic_dataset_business["Friday_end"][i]=ss[1]
            else:
                yelp_academic_dataset_business["Friday_start"][i]=ss[0]
                yelp_academic_dataset_business["Friday_end"][i]="22"  
print("+++++++++++++++++++++++++++++SATURDAY+++++++++++++++++++++++++++++++++++")
for i,val in yelp_academic_dataset_business['Saturday'].iteritems():
        if i%10000==0:
            print(i)
        if val !="":
            ss=val.split("-")
            if len(ss)==2:
                yelp_academic_dataset_business["Saturday_start"][i]=ss[0]
                yelp_academic_dataset_business["Saturday_end"][i]=ss[1]
            else:
                yelp_academic_dataset_business["Saturday_start"][i]=ss[0]
                yelp_academic_dataset_business["Saturday_end"][i]="22"  
print("++++++++++++++++++++++++++++SUNDAY++++++++++++++++++++++++++++++++++++")
for i,val in yelp_academic_dataset_business['Sunday'].iteritems():
        if i%10000==0:
            print(i)
        if val !="":
            ss=val.split("-")
            if len(ss)==2:
                yelp_academic_dataset_business["Sunday_start"][i]=ss[0]
                yelp_academic_dataset_business["Sunday_end"][i]=ss[1]
            else:
                yelp_academic_dataset_business["Sunday_start"][i]=ss[0]
                yelp_academic_dataset_business["Sunday_end"][i]="22"

0

<ipython-input-60-e85d16bcd13f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Monday_start"][i]=ss[0]
<ipython-input-60-e85d16bcd13f>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Monday_end"][i]=ss[1]
<ipython-input-60-e85d16bcd13f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Monday_start"][i]=ss[0]
<ipython-input-60-e85d16bcd13f>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Monday_end"][i]="22"

10000
20000
30000
40000
+++++++++++++++++++++++TUESDAY+++++++++++++++++++++++++++++++++
0

<ipython-input-60-e85d16bcd13f>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Tuesday_start"][i]=ss[0]
<ipython-input-60-e85d16bcd13f>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Tuesday_end"][i]=ss[1]
<ipython-input-60-e85d16bcd13f>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Tuesday_start"][i]=ss[0]
<ipython-input-60-e85d16bcd13f>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Tuesday_end"][i]="22"

10000
20000
30000
40000
+++++++++++++++++++++++++WEDNESDAY+++++++++++++++++++++++++++++++++++++++
0

<ipython-input-60-e85d16bcd13f>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Wednesday_start"][i]=ss[0]
<ipython-input-60-e85d16bcd13f>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Wednesday_end"][i]=ss[1]
<ipython-input-60-e85d16bcd13f>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Wednesday_start"][i]=ss[0]
<ipython-input-60-e85d16bcd13f>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Wednesday_end"][i]="22"

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
+++++++++++++++++++++++++++THURSDAY+++++++++++++++++++++++++++++++++++++
0

<ipython-input-60-e85d16bcd13f>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Thursday_start"][i]=ss[0]
<ipython-input-60-e85d16bcd13f>:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Thursday_end"][i]=ss[1]
<ipython-input-60-e85d16bcd13f>:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Thursday_start"][i]=ss[0]
<ipython-input-60-e85d16bcd13f>:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Thursday_end"][i]="22"

10000
20000
30000
40000
++++++++++++++++++++++++++++FRIDAY+++++++++++++++++++++++++++++++++++
0

<ipython-input-60-e85d16bcd13f>:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Friday_start"][i]=ss[0]
<ipython-input-60-e85d16bcd13f>:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Friday_end"][i]=ss[1]
<ipython-input-60-e85d16bcd13f>:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Friday_start"][i]=ss[0]
<ipython-input-60-e85d16bcd13f>:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Friday_end"][i]="22"

10000
20000
30000
40000
+++++++++++++++++++++++++++++SATURDAY+++++++++++++++++++++++++++++++++++
0

<ipython-input-60-e85d16bcd13f>:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Saturday_start"][i]=ss[0]
<ipython-input-60-e85d16bcd13f>:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Saturday_end"][i]=ss[1]
<ipython-input-60-e85d16bcd13f>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Saturday_start"][i]=ss[0]
<ipython-input-60-e85d16bcd13f>:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Saturday_end"][i]="22"

10000
20000
30000
40000
++++++++++++++++++++++++++++SUNDAY++++++++++++++++++++++++++++++++++++
0

<ipython-input-60-e85d16bcd13f>:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Sunday_start"][i]=ss[0]
<ipython-input-60-e85d16bcd13f>:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Sunday_end"][i]=ss[1]
<ipython-input-60-e85d16bcd13f>:85: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Sunday_start"][i]=ss[0]
<ipython-input-60-e85d16bcd13f>:86: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business["Sunday_end"][i]="22"

10000
20000
30000
40000

In [65]:
yelp_academic_dataset_business['parking']=False
for i,val in yelp_academic_dataset_business['attributes'].iteritems():
    if "BusinessParking" in val.keys():
        val2=val['BusinessParking']
        if "True" in val2:
                yelp_academic_dataset_business['parking'][i]=True

<ipython-input-65-e54fea444d15>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yelp_academic_dataset_business['parking'][i]=True

In [66]:
yelp_academic_dataset_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Monday_start,Tuesday_start,Wednesday_start,Thursday_start,Friday_start,Saturday_start,Sunday_start,Monday_end,Tuesday_end,Wednesday_end,Thursday_end,Friday_end,Saturday_end,Sunday_end,parking
0,pQeaRpvuhoEqudo3uymHIQ,The Empanadas House,404 E Green St,Champaign,IL,61820,40.110446,-88.233073,4.5,5,1,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...","Ethnic Food, Food Trucks, Specialty Food, Impo...","{'Monday': '11:30-14:30', 'Tuesday': '11:30-14...",11:30-14:30,11:30-14:30,11:30-14:30,11:30-14:30,11:30-14:30,,,11:30,11:30,11:30,11:30,11:30,,,14:30,14:30,14:30,14:30,14:30,,,False
1,M_guz7Dj7hX0evS672wIwA,Chocolate Shoppe Ice Cream,2831 Parmenter St,Middleton,WI,53562,43.105310,-89.510142,3.5,6,1,"{'BikeParking': 'True', 'Caters': 'True', 'Whe...","Desserts, Food, Ice Cream & Frozen Yogurt","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ...",,11:0-21:0,11:0-21:0,11:0-21:0,11:0-22:0,11:0-22:0,11:0-21:0,,11:0,11:0,11:0,11:0,11:0,11:0,,21:0,21:0,21:0,22:0,22:0,21:0,True
2,mKTq1T_IAplDpHUcMzOXkw,Tipsy Ryde,,Gastonia,NC,28054,35.252842,-81.152698,3.5,3,1,{'BusinessAcceptsCreditCards': 'True'},"Hotels & Travel, Transportation, Taxis, Beer, ...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-0:0', 'W...",,9:0-0:0,9:0-0:0,9:0-0:0,9:0-2:30,9:0-2:30,12:0-0:0,,9:0,9:0,9:0,9:0,9:0,12:0,,0:0,0:0,0:0,2:30,2:30,0:0,False
3,eBEfgOPG7pvFhb2wcG9I7w,Philthy Phillys,"15480 Bayview Avenue, unit D0110",Aurora,ON,L4G 7J1,44.010962,-79.448677,4.5,4,1,"{'RestaurantsTableService': 'False', 'Restaura...","Restaurants, Cheesesteaks, Poutineries","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",11:0-22:0,11:0-22:0,11:0-22:0,11:0-22:0,11:0-22:0,11:0-22:0,11:0-21:0,11:0,11:0,11:0,11:0,11:0,11:0,11:0,22:0,22:0,22:0,22:0,22:0,22:0,21:0,True
4,9sRGfSVEfLhN_km60YruTA,Apadana Restaurant,13071 Yonge Street,Richmond Hill,ON,L4E 1A5,43.947011,-79.454862,3.0,3,1,"{'Ambience': '{'touristy': False, 'hipster': F...","Persian/Iranian, Turkish, Middle Eastern, Rest...","{'Tuesday': '12:0-21:0', 'Wednesday': '12:0-21...",,12:0-21:0,12:0-21:0,12:0-21:0,12:0-0:0,12:0-0:0,11:0-21:0,,12:0,12:0,12:0,12:0,12:0,11:0,,21:0,21:0,21:0,0:0,0:0,21:0,True

In [67]:
yelp_academic_dataset_business.shape

(48685, 36)

In [78]:
yelp_academic_dataset_business.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours', 'Monday', 'Tuesday', 'Wednesday',
       'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday_start',
       'Tuesday_start', 'Wednesday_start', 'Thursday_start', 'Friday_start',
       'Saturday_start', 'Sunday_start', 'Monday_end', 'Tuesday_end',
       'Wednesday_end', 'Thursday_end', 'Friday_end', 'Saturday_end',
       'Sunday_end', 'parking'],
      dtype='object')

In [80]:
yelp_academic_dataset_business=yelp_academic_dataset_business.drop(["is_open","attributes", 'hours', 'Monday', 'Tuesday', 'Wednesday',
       'Thursday', 'Friday', 'Saturday', 'Sunday'],axis=1)
yelp_academic_dataset_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories,Monday_start,Tuesday_start,Wednesday_start,Thursday_start,Friday_start,Saturday_start,Sunday_start,Monday_end,Tuesday_end,Wednesday_end,Thursday_end,Friday_end,Saturday_end,Sunday_end,parking
0,pQeaRpvuhoEqudo3uymHIQ,The Empanadas House,404 E Green St,Champaign,IL,61820,40.110446,-88.233073,4.5,5,"Ethnic Food, Food Trucks, Specialty Food, Impo...",11:30,11:30,11:30,11:30,11:30,,,14:30,14:30,14:30,14:30,14:30,,,False
1,M_guz7Dj7hX0evS672wIwA,Chocolate Shoppe Ice Cream,2831 Parmenter St,Middleton,WI,53562,43.105310,-89.510142,3.5,6,"Desserts, Food, Ice Cream & Frozen Yogurt",,11:0,11:0,11:0,11:0,11:0,11:0,,21:0,21:0,21:0,22:0,22:0,21:0,True
2,mKTq1T_IAplDpHUcMzOXkw,Tipsy Ryde,,Gastonia,NC,28054,35.252842,-81.152698,3.5,3,"Hotels & Travel, Transportation, Taxis, Beer, ...",,9:0,9:0,9:0,9:0,9:0,12:0,,0:0,0:0,0:0,2:30,2:30,0:0,False
3,eBEfgOPG7pvFhb2wcG9I7w,Philthy Phillys,"15480 Bayview Avenue, unit D0110",Aurora,ON,L4G 7J1,44.010962,-79.448677,4.5,4,"Restaurants, Cheesesteaks, Poutineries",11:0,11:0,11:0,11:0,11:0,11:0,11:0,22:0,22:0,22:0,22:0,22:0,22:0,21:0,True
4,9sRGfSVEfLhN_km60YruTA,Apadana Restaurant,13071 Yonge Street,Richmond Hill,ON,L4E 1A5,43.947011,-79.454862,3.0,3,"Persian/Iranian, Turkish, Middle Eastern, Rest...",,12:0,12:0,12:0,12:0,12:0,11:0,,21:0,21:0,21:0,0:0,0:0,21:0,True

In [81]:
import csv
yelp_academic_dataset_business.to_csv("yelp_academic_dataset_business_filtered.csv",index=False)

In [68]:
covid_19_dataset=pd.read_json('yelp_academic_dataset_covid_features.json',lines=True)
print(covid_19_dataset.columns)


for col in covid_19_dataset.columns:
    print(col,covid_19_dataset[col].isnull().sum())

Index(['business_id', 'highlights', 'delivery or takeout', 'Grubhub enabled',
       'Call To Action enabled', 'Request a Quote Enabled', 'Covid Banner',
       'Temporary Closed Until', 'Virtual Services Offered'],
      dtype='object')
business_id 0
highlights 0
delivery or takeout 0
Grubhub enabled 0
Call To Action enabled 0
Request a Quote Enabled 0
Covid Banner 0
Temporary Closed Until 0
Virtual Services Offered 0

In [69]:
covid_19_dataset.head()

,business_id,highlights,delivery or takeout,Grubhub enabled,Call To Action enabled,Request a Quote Enabled,Covid Banner,Temporary Closed Until,Virtual Services Offered
0,9kXRUIkwdDtnAPO6tVo51g,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
1,H6D5HOTfMjrZt7r1EObZ1g,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
2,FYddq7fUtzobZcw4jOJgVA,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
3,c75jLTjlgA9q3gImLEGT6w,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
4,YfzPiY50h_10Sjlg3mnNWQ,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE

In [74]:
li_bids=list(yelp_academic_dataset_business['business_id'])

In [85]:
with open("bid_yelp.txt", mode="w") as outfile:
    for s in li_bids:
        outfile.write("%s\n" % s)

In [75]:
li_covid=[]
for i,val in covid_19_dataset.iterrows():
       if val['business_id'] in li_bids:
            if val['highlights']=="TRUE" or val['delivery or takeout']=="TRUE" or val['Grubhub enabled']=="TRUE" or val['Call To Action enabled']=="TRUE" or val['Request a Quote Enabled']=="TRUE" or val['Covid Banner']=="TRUE" or val['Temporary Closed Until']=="TRUE" or  val['Virtual Services Offered']=="TRUE":
                   li_covid.append(i)

In [76]:
len(li_covid)

42667

In [77]:
covid_19_dataset=covid_19_dataset[covid_19_dataset.index.isin(list(li_covid))]
covid_19_dataset.head()

,business_id,highlights,delivery or takeout,Grubhub enabled,Call To Action enabled,Request a Quote Enabled,Covid Banner,Temporary Closed Until,Virtual Services Offered
25,NFkXAd1vUXXv4ITIi8xmQw,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE
83,MO7uAUMIEBfpPCQQontrXw,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
94,olsyKBUJxcCDFiZm27ULKA,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
126,3LiLIZvamMchKo-QdsmyRw,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
138,eufGie8BYKRa8tGYAGhb7A,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE

In [84]:
covid_19_dataset['business_id'].to_csv("covid_bid.csv",index=False)

In [30]:
df=pd.read_csv("covid_bid.csv")
li=list(df['business_id'])
# df=df.sort_values('business_id')
# df.to_csv("covid_bid.csv",index=False)
# df.head()

In [43]:
df2=pd.read_csv("yelp_academic_dataset_business_filtered.csv")
# df=df.sort_values('business_id')
# df.to_csv("yelp_academic_dataset_business_filtered.csv",index=False)
# df.head()

In [32]:
df2['covid']=False

In [33]:
df2['covid']=df2['business_id'].apply(lambda x: x in li)

In [37]:
df2=df2.sort_values('business_id')
df2.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories,Monday_start,Tuesday_start,Wednesday_start,Thursday_start,Friday_start,Saturday_start,Sunday_start,Monday_end,Tuesday_end,Wednesday_end,Thursday_end,Friday_end,Saturday_end,Sunday_end,parking,covid
26697,--1UhMGODdWsrMastO9DZw,The Spicy Amigos,821 4 Avenue SW,Calgary,AB,T2P 0K5,51.049673,-114.079977,4.0,27,"Restaurants, Mexican",11:0,11:0,11:0,11:0,11:0,12:0,NaN,20:0,20:0,20:0,20:0,22:0,22:0,NaN,False,True
20965,--6MefnULPED_I942VcFNA,John's Chinese BBQ Restaurant,"328 Highway 7 E, Chalmers Gate 11, Unit 10",Richmond Hill,ON,L4B 3P7,43.841694,-79.399755,3.0,55,"Chinese, Restaurants",11:0,11:0,11:0,11:0,11:0,11:0,11:0,22:30,22:30,22:30,22:30,22:30,22:30,22:30,True,True
24450,--7zmmkVg-IMGaXbuVd0SQ,Primal Brewery,16432 Old Statesville Rd,Huntersville,NC,28078,35.437106,-80.843688,4.0,65,"Breweries, Food",16:0,16:0,14:0,14:0,12:0,12:0,12:0,22:0,22:0,22:0,22:0,23:0,23:0,20:0,True,True
30179,--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,3355 Las Vegas Blvd S,Las Vegas,NV,89109,36.123183,-115.169190,4.0,1759,"Seafood, Cajun/Creole, Restaurants, Steakhouses",17:0,17:0,17:0,17:0,17:0,17:0,17:0,22:0,22:0,22:0,22:0,22:30,22:30,22:0,True,True
7105,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,1218 Saint Clair Avenue W,Toronto,ON,M6E,43.677807,-79.444674,4.0,51,"Restaurants, Breakfast & Brunch",7:0,7:0,7:0,7:0,7:0,7:0,7:0,15:0,15:0,15:0,15:0,16:0,16:0,16:0,True,True

In [38]:

df2.to_csv("yelp_academic_dataset_business_filtered.csv",index=False)

In [44]:
df2=pd.read_csv("yelp_academic_dataset_business_filtered.csv")
df2.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories,Monday_start,Tuesday_start,Wednesday_start,Thursday_start,Friday_start,Saturday_start,Sunday_start,Monday_end,Tuesday_end,Wednesday_end,Thursday_end,Friday_end,Saturday_end,Sunday_end,parking,covid
0,--1UhMGODdWsrMastO9DZw,The Spicy Amigos,821 4 Avenue SW,Calgary,AB,T2P 0K5,51.049673,-114.079977,4.0,27,"Restaurants, Mexican",11:0,11:0,11:0,11:0,11:0,12:0,NaN,20:0,20:0,20:0,20:0,22:0,22:0,NaN,False,True
1,--6MefnULPED_I942VcFNA,John's Chinese BBQ Restaurant,"328 Highway 7 E, Chalmers Gate 11, Unit 10",Richmond Hill,ON,L4B 3P7,43.841694,-79.399755,3.0,55,"Chinese, Restaurants",11:0,11:0,11:0,11:0,11:0,11:0,11:0,22:30,22:30,22:30,22:30,22:30,22:30,22:30,True,True
2,--7zmmkVg-IMGaXbuVd0SQ,Primal Brewery,16432 Old Statesville Rd,Huntersville,NC,28078,35.437106,-80.843688,4.0,65,"Breweries, Food",16:0,16:0,14:0,14:0,12:0,12:0,12:0,22:0,22:0,22:0,22:0,23:0,23:0,20:0,True,True
3,--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,3355 Las Vegas Blvd S,Las Vegas,NV,89109,36.123183,-115.169190,4.0,1759,"Seafood, Cajun/Creole, Restaurants, Steakhouses",17:0,17:0,17:0,17:0,17:0,17:0,17:0,22:0,22:0,22:0,22:0,22:30,22:30,22:0,True,True
4,--DaPTJW3-tB1vP-PfdTEg,Sunnyside Grill,1218 Saint Clair Avenue W,Toronto,ON,M6E,43.677807,-79.444674,4.0,51,"Restaurants, Breakfast & Brunch",7:0,7:0,7:0,7:0,7:0,7:0,7:0,15:0,15:0,15:0,15:0,16:0,16:0,16:0,True,True

In [45]:
df2.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'categories',
       'Monday_start', 'Tuesday_start', 'Wednesday_start', 'Thursday_start',
       'Friday_start', 'Saturday_start', 'Sunday_start', 'Monday_end',
       'Tuesday_end', 'Wednesday_end', 'Thursday_end', 'Friday_end',
       'Saturday_end', 'Sunday_end', 'parking', 'covid'],
      dtype='object')

In [ ]:
df_time=df2[['business_id', 'Monday_start', 'Tuesday_start', 'Wednesday_start', 'Thursday_start',
       'Friday_start', 'Saturday_start', 'Sunday_start', 'Monday_end',
       'Tuesday_end', 'Wednesday_end', 'Thursday_end', 'Friday_end',
       'Saturday_end', 'Sunday_end']]


df2_cat=df2[['business_id','categories','parking', 'covid']]

df2_info=df2[['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count']]

In [34]:
# temp=df2[['name','address']].groupby('address').agg(['count']).reset_index()
# temp[temp[(   'name', 'count')]>1]

In [35]:
# df2[df2['address']=='1 Bass Pro Mills Drive']

In [36]:
# temp=df2[['name','business_id']].groupby('business_id').agg(['count']).reset_index()
# temp[temp[(   'name', 'count')]>1]